
body, h2, p, form {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Container for the forms */
container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

 login and registration 
h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Links styling */
a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Hide the registration form by default */
.register-section {
    display: none;
}
.navigation{
    position: relective;
    font-size: 1.leo;
    color:
    text-decoration:none;
    font -weight:500;
    mrargin-left:40px;
}